<ion-view view-title="我的订单" id="my-order">
    <ion-nav-bar class="bar-assertive">
        <div class="bar bar-header">
            <h1 class="title"></h1>
        </div>
    </ion-nav-bar>
    <ion-content>
      <div class="weui_navbar">
        <div class="weui_navbar_item">
          待发货
        </div>
        <div class="weui_navbar_item">
          已发货
        </div>
        <div class="weui_navbar_item">
          待收货
        </div>
        <div class="weui_navbar_item">
          已收货
        </div>
      </div>


    </ion-content>
</ion-view>
